@font-face {
    font-family: Roboto;
    src: url('../lib/fonts/Roboto-Regular.ttf');
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Roboto;
}

#account-settings {
    padding-top: 0.1%;
    margin-bottom: 0;
}

#account-settings a:active {
    background: white;
}

#username {
    font-size: 2rem;
    cursor: default;
    padding-top: 15%;
}

#account-buttons {
    display: none;
}

.loging-reg-btns {
    color: black;
    display: inline-block;
    font-size: 2rem;
}

#account-settings li {
    padding: 0;
}

#account-settings img {
    max-width: 40px;
}

#account-settings li {
    display: inline-block;
}

#account-settings .dropdown-menu {
    z-index: 99999;
    top: 105%;
    left: -130%;
    position: absolute;
    box-shadow: 0 3px 2px black;
    box-sizing: border-box;
}

#account-settings .dropdown-header {
    font-size: 1.7rem;
    cursor: pointer;
    padding-top: 5%;
    padding-bottom: 5%;
    text-decoration: none;
    color: black;
}

#account-settings .dropdown-header:hover {
    background-color: #EEEEEE;
}

#navigation {
    z-index: 1;
    background: #1E4B6A;
    box-shadow: 0 8px 0 #E1E1E1;
}

#navigation a:active {
    background: #1E4B6A;
}

#navbar-main {
    font-size: 2rem;
}

#navbar-main form {
    padding-left: 0;
    padding-right: 0;
}

#navbar-main input {
    border-radius: 0;
}

#navbar-main a {
    color: white;
}

#navbar-main > ul > li:hover > a {
    color: white;
    text-decoration: underline;
}

#navbar-main > ul > li {
    padding-top: 1.8%;
}

#navbar-main > ul > li#btn-search {
    padding: 0 0;
}

#courses-btn {
    text-decoration: underline;
}

#btn-search *, #btn-search {
    padding: 0;
}

#navbar-main a:hover, #navbar-main a:active, #navbar-main a:focus {
    background: transparent;
    background-color: transparent;
}

#navbar-main form {
    border: none;
    box-shadow: none;
}

#telerik-logo, #btn-search img {
    padding: 0;
    max-height: 73px;
}

#social-networks li {
    display: inline;
}

#footer {
    font-size: 1.6rem;
    background: #1E4B6A;
    color: white;
}

#footer a {
    color: white;
}

#footer img {
    max-width: 55%;
}

#main {
    padding-bottom: 5%;
}

#side-menu {
    padding: 0 0 0 10px;
}

#courses-navigation span {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid white;
}

#courses-navigation {
    margin-top: 86%;
}

#courses-navigation > .panel {
    border: none;
}

#courses-navigation .panel-heading {
    background: #518BB0;
    border: none;
    border-radius: 0;
    cursor: pointer;
    padding: 3%;
    height: 60px;
    position: relative;
}

#courses-navigation > div {
    margin-bottom: 5%;
}

#courses-navigation .panel-heading.smaller-titles a {
    position: absolute;
    top: 30%;
    display: inline;
}

#courses-navigation .panel-heading span {
    position: absolute;
    top: 45%;
    right: 5%;
}

#courses-navigation a {
    color: white;
    text-decoration: none;
}

#courses-navigation .list-group-item {
    background: #80AAC3;
}

#courses-heading h1 {
    font-size: 6rem;
    color: #1D4A69;
    padding-top: 2%;
    margin-bottom: 5%;
}

.course-title .row > div {
    padding: 0;
    display: inline-block;
}

.course-title {
    color: black;
    border-bottom: none;
    display: inline-block;
    font-size: 3rem;
    font-weight: bold;
    padding-left: 3%;
    padding-right: 0;
    width: inherit;
}

#course-csharp .course-title {
    width: 60%;
}

#course-css .course-title {
    width: 45%;
}

#course-angular .course-title {
    width: 45%;
}

#course-typescript .course-title {
    width: 70%;
}

.course-title img {
    max-width: 60%;
}

.course-container {
    color: black;
    padding: 0 0 5% 4%;
    height: 1005;
}

.course-container fieldset {
    border: 3px solid #518BAF;
    padding: 0 5% 1% 5%;
    height: 100%;
}

.course-container p {
    padding: 0 3% 1% 3%;
}

.course-more-info {
    background: #D9481B;
    color: white;
    border: none;
    border-radius: 0;
    text-transform: uppercase;
    padding: 4% 0;
    font-weight: bold;
}

.course-more-info:hover, .course-more-info:active, .course-more-info:focus {
    background: #D9481B;
    color: white;
}

.btn-more-info {
    margin-bottom: 3%;
}

.row.btn-more-info > div {
    padding: 0 7.5%;
}

.btn-more-info a {
    padding-top: 5.2%;
    padding-bottom: 5.2%;
}

.icon-bar {
    background: white;
}

.navbar-header button {
    padding-top: 20px;
}

.navbar-collapse.in {
    overflow: hidden;
}

.navbar-collapse {
    overflow: hidden;
}

#social-networks ul {
    padding: 7% 0;
}

#social-networks img {
    padding: 0 1%;
    max-height: 35px;
}

@media only screen and (max-width: 1306px) {
    body {
        font-size: 15;
    }
    #social-networks img {
        max-height: 30px;
    }
}

@media only screen and (max-width: 1292px) {
    .container {
        max-width: 1140px;
    }
    #course-csharp .course-title {
        width: 67%;
    }
    #course-css .course-title {
        width: 50%;
    }
    #course-angular .course-title {
        width: 50%;
    }
    #course-typescript .course-title {
        width: 75%;
    }
}

@media only screen and (max-width: 1200px) {
    #courses-navigation .panel-heading.smaller-titles a {
        position: static;
    }
    #social-networks img {
        padding: 0 0.8%;
        width: 26px;
    }
    body {
        font-size: 14;
    }
    #btn-search img {
        width: 68px;
    }
    #navbar-main {
        font-size: 1.8rem;
    }
    #navbar-main a {
        padding-left: 4%;
        padding-right: 2%;
    }
    #course-title {
        font-size: 2rem;
    }
    #course-csharp .course-title {
        width: 77%;
    }
    #course-css .course-title {
        width: 60%;
    }
    #course-angular .course-title {
        width: 60%;
    }
    #course-typescript .course-title {
        width: 90%;
    }
}

@media only screen and (max-width: 992px) {
    #courses-navigation {
        margin-top: 0;
    }
    #side-menu .panel-heading {
        text-align: center;
        width: 100%;
        padding: 1%;
        height: 10%;
        font-size: 1.3em;
    }
    #side-menu .panel.panel-default {
        margin-bottom: 1%;
    }
    #navbar-main a {
        padding-left: 3%;
        padding-right: 3%;
    }

    #social-networks img {
        display: inline-block;
    }
    #social-networks {
        text-align: center;
    }
    #social-networks ul {
        padding: 0;
    }
    #social-networks img {     
        max-height: 50px;
        max-width: 50px;
        height: 50px;
        width: 50px;
        padding: 0;
        margin-left: 3%;
    }
    #side-menu span {
        display: none;
    }
}

@media only screen and (width: 992px) {
    #side-menu .panel-heading {
        text-align: left;
        font-size: 1em;
        padding: 3%;
        height: 60px;
    }
    #courses-navigation {
        margin-top: 70%;
    }
    #side-menu span {
        display: inline;
    }
    
}

@media only screen and (max-width: 768px) {
    .navbar-header {
        width: 100%;
        display: block;
    }
    #navbar-main {
        width: 100%;
        display: block;
        margin-left: 0;
        margin-right: 0;
        text-align: right;
    }
    #dropdown-settings {
        background: white;
        border: 1px solid lightgray;
        box-shadow: 0 3px 2px black;
        box-sizing: border-box;
    }
    #search-bar-input {
        visibility: visible;
        display: inline-block;
    }
    .navbar-collapse.collapse.in img, .navbar-collapse.collapsing img {
        display: none;
    }
}

@media only screen and (max-width: 450px) {
    #account-settings img {
        max-width: 30px;
    }
    #username {
        font-size: 1.5rem;
    }
}