body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#account-settings {
    margin-bottom: -0.8%;
}

#account-settings a {
    padding-top: 10%;
    padding-bottom: 10%;
}

#account-settings a:active {
    background: white;
}

#navigation {
    background: #1E4B6A;
    box-shadow: 0 5px 0 #E1E1E1;
}

#username {
    font-size: 0.9em;
    padding-top: 3%;
    padding-right: 7%;
    cursor: default;
}

#account-settings li {
    padding: 0;
}

#account-settings img {
    max-width: 25px;
}

#account-settings li {
    display: inline-block;
}

#account-settings .dropdown-menu {
    z-index: 99999;
    top: 105%;
    left: -191%;
    position: absolute;
    box-shadow: 0 3px 2px black;
    box-sizing: border-box;
}

#account-settings .dropdown-header {
    font-size: 1.1em;
    cursor: pointer;
    padding-top: 5%;
    padding-bottom: 5%;
    text-decoration: none;
}

#account-settings .dropdown-header:hover {
    background-color: #EEEEEE;
}

#navigation {
    z-index: 1;
}

#navigation a:active {
    background: #1E4B6A;
}

.navbar-header {
    width: 15%;
}

#navbar-main {
    font-size: 1.2em;
}

#navbar-main form {
    padding-left: 0;
    padding-right: 0;
}

#navbar-main input {
    border-radius: 0;
}

#navbar-main a {
    color: white;
}

#navbar-main > ul > li:hover > a {
    color: white;
    text-decoration: underline;
}

#navbar-main a:hover, #navbar-main a:active, #navbar-main a:focus {
    background: transparent;
    background-color: transparent;
}

#navbar-main form {
    border: none;
    box-shadow: none;
}

.navbar-brand {
    padding: 0;
}

.navbar-brand img {
    max-width: 100%;
}

#social-networks li {
    display: inline;
}

#footer {
    font-size: 0.8em;
    background: #1E4B6A;
    color: white;
}

#footer a {
    color: white;
}

#footer img {
    max-width: 55%;
}

#main {
    padding-bottom: 5%;
}

#side-menu {
    padding: 0;
}

#courses-navigation span {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid white;
}

#courses-navigation {
    margin-top: 70%;
}

#courses-navigation > .panel {
    border: none;
}

#courses-navigation .panel-heading {
    background: #518BB0;
    border: none;
    border-radius: 0;
    cursor: pointer;
    padding: 3%;
    height: 60px;
    position: relative;
}

#courses-navigation > div {
    margin-bottom: 5%;
}

#courses-navigation .panel-heading.smaller-titles a {
    position: absolute;
    top: 30%;
    display: inline;
}

#courses-navigation .panel-heading span {
    position: absolute;
    top: 45%;
    right: 5%;
}

#courses-navigation a {
    color: white;
    text-decoration: none;
}

#courses-navigation .list-group-item {
    background: #80AAC3;
}

.courses-heading {
    color: #1D4A69;
    margin-bottom: 5%;
}

.course-title .row > div {
    padding: 0;
}

.course-title {
    color: black;
    border-bottom: none;
    display: inline-block;
    font-size: 2.5rem;
    font-weight: bold;
    padding-left: 5%;
    padding-right: 5%;
    width: inherit;
}

#course-csharp .course-title {
    width: 60%;
}

#course-css .course-title {
    width: 50%;
}

#course-angular .course-title {
    width: 50%;
}

#course-typescript .course-title {
    width: 70%;
}

.course-title img {
    max-width: 60%;
}

.course-container {
    color: black;
    padding: 0 0 5% 4%;
    height: 1005;
}

.course-container fieldset {
    border: 3px solid #518BAF;
    padding: 0 5% 1% 5%;
    height: 100%;
}

.course-container p {
    padding: 0 3% 1% 3%;
}

.course-more-info {
    background: #51B764;
    color: white;
    border: none;
    border-radius: 0;
    text-transform: uppercase;
    padding: 4% 0;
}

.course-more-info:hover, .course-more-info:active, .course-more-info:focus {
    background: #51B764;
    color: white;
}

.btn-more-info {
    margin-bottom: 3%;
}


/*#account-settings .navbar-nav {
    width: 100%;
    text-align: center;
}

#account-settings .navbar-nav > li {
    float: none;
    display: inline-block;
}*/

.icon-bar {
    background: white;
}

.navbar-collapse.in {
    overflow: hidden;
}

.navbar-collapse {
    overflow: hidden;
}

#social-networks img {
    padding: 0 1%;
    max-height: 35px;
}

@media only screen and (max-width: 1200px) {
    #courses-navigation .panel-heading.smaller-titles a {
        position: static;
    }
}

@media only screen and (max-width: 992px) {
    #courses-navigation {
        margin-top: 0;
    }
    #side-menu .panel-heading {
        text-align: center;
        width: 100%;
        padding: 1%;
        height: 10%;
        font-size: 1.3em;
    }
    #side-menu .panel.panel-default {
        margin-bottom: 1%;
    }
    #navbar-main a {
        padding-left: 3%;
        padding-right: 3%;
    }
    #social-networks img {
        padding: 0 0.8%;
    }
    #side-menu span {
        display: none;
    }
}

@media only screen and (width: 992px) {
    #side-menu .panel-heading {
        text-align: left;
        font-size: 1em;
        padding: 3%;
        height: 60px;
    }
    #courses-navigation {
        margin-top: 70%;
    }
    #side-menu span {
        display: inline;
    }
}

@media only screen and (max-width: 768px) {
    .navbar-header {
        width: 100%;
        display: block;
    }
    #navbar-main {
        width: 100%;
        display: block;
        margin-left: 0;
        margin-right: 0;
    }
    #dropdown-settings {
        background: white;
        border: 1px solid lightgray;
        box-shadow: 0 3px 2px black;
        box-sizing: border-box;
    }
}